body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;

        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
    background: #64dfdf;
    border: 1.5px solid #05668d;
    border-bottom: 4px solid #5a189a;
    border-radius: 15px;
    transition: 0.5s;
}

.border-blue {
    border: 1px dotted blue;
}

.card:hover {
    box-shadow: 15px 15px blue;
    transition: 0.5s;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/